<ion-header>
  <ion-toolbar color="success">
    <ion-title>Dodaj wydatek</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="fileDelete()">
        <ion-icon name="trash" slot="icon-only"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="success"><Strong>1.Nazwa i data wydatku</Strong></ion-card-header>
    <ion-item>
      <ion-label position="floating">Nazwa</ion-label>
        <ion-input type="text" [(ngModel)] ="expense.Name" id="input-name"></ion-input>
      </ion-item>
    <ion-item>
      <ion-label>Data paragonu</ion-label>
        <ion-datetime display-format="DD MMM YYYY" placeholder="Wybierz datę" [(ngModel)] ="expense.Date" id="expense_date"></ion-datetime>     
    </ion-item>
</ion-card>
    <ion-card>
      <ion-card-header color="success"><Strong>2. Pozycja paragonu</Strong></ion-card-header>
      <ion-item>
        <ion-label position="floating">Opis</ion-label>
          <ion-input type="text" [(ngModel)] ="expense.Reason" id="input-reason"></ion-input>
        </ion-item>
      <ion-item>
        <ion-label position="floating">Suma</ion-label>
          <ion-input type="number" [(ngModel)] ="expense.Amount" id="input-amount"></ion-input>      
      </ion-item>
      <div class="ion-margin-vertical ion-text-center">
        <ion-button (click)="clearList()" fill="outline" color="danger" id="btn-cancel">
        <ion-icon name="close" slot="start"></ion-icon>Usuń pozycję</ion-button>
        <ion-button id="btn-confirm" (click)="addLine()">
        <ion-icon name="add-outline" slot="start"></ion-icon>Dodaj pozycję</ion-button>
      </div>
    </ion-card>
    <ion-card color="dark">
      <ion-card-header><Strong>Dodane pozycję z tego paragonu: </Strong></ion-card-header>
        <ion-grid color="dark">
          <ion-row color="dark">
            <ion-col  color="dark">
              <ion-list  color="dark" class="ion-no-padding">
                <ion-item lines="none" color="dark" *ngFor="let exp of expList">
                  <ion-label class="ion-text-wrap">{{ exp }}</ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col>
          <ion-list class="ion-no-padding">
          <ion-item lines="none" color="dark" *ngFor="let exp of expListAmount">
            <ion-label class="ion-text-wrap ion-text-right">{{ exp }}</ion-label>
          </ion-item>
        </ion-list>
       </ion-col>
       </ion-row>
      </ion-grid>
          <h3 align="center">Suma paragonu: {{ totalExpense }} zł</h3>
      </ion-card>   
  <ion-card>
    <ion-card-header color="success"><Strong>3. Zdjęcie paragonu</Strong></ion-card-header>
    <app-image-picker (imagePick)="onImagePicked($event)"></app-image-picker>
  </ion-card>
</ion-content>