<ion-header [translucent]="true">
  <ion-toolbar color="dark" align="center">
    <ion-title>
      Kontrola wydatków
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Kontrola wydatków</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid class="ion-align-items-center">
      <ion-row>
        <ion-col>
          <ion-button href="/add-expense/" color="success">Dodaj wydatek</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button href="/view-expenses/" color="tertiary">Zobacz wydatki</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-button (click)="exitApp()" color="danger">Zamknij aplikację</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>   
</ion-content>
